/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* defaults */
body {
    min-height: 100vh; /* fallback */
    min-height: 100dvh; /* dynamic viewport height */
    min-height: 100svh; /* small viewport height */
    /* max-width: 100%; */
    overflow-x: clip;
    scroll-behavior:smooth
}

body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering:optimizeLegibility
}

/* responsive images */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Right now, SVGs, images, and videos are block elements, but inline images (like icons) might be affected.
Consider adding vertical-align: middle to svg for better inline handling. */
svg {
  vertical-align: middle; /* for better inline handling */
}

/* simple tipo stuff */
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


