/* fonts and tipo */
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@312&display=swap);
@font-face {
  font-family: 'Arrival';
  src: url('./fonts/ArrivalApercuMonoPro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SCTO';
    font-weight: 300;
    src: url(./fonts/scto-grotesk-a-light-2.woff2) format("woff2")
}


/* site specific settings */
:root {
    --neutron: .3rem;
    --atom: 1rem;
    --molecule: 3rem;
    --color-light: #f9f9f9;
    --gap: 10rem;
    --padding: min(1rem, 3vw);
    --font-family: "SCTO", serif;
}



/* layout */
body {
    padding: var(--molecule);
    background-color: var(--color-light);
}

header, main, footer {
    margin: 3rem auto;
    padding: var(--molecule);
    background-color: white;
}

header {
    background-color: lightpink;
}

main {
    background-color: lightsteelblue
};

footer {
    background-color: lightgrey;
};





/* typography */
html, body {
    font-family: var(--font-family), 'Noto Sans SC', sans-serif;
    font-weight: 300;
    letter-spacing: -.05em;
}






h1 {
    font-size: clamp(2rem, 10vw, 5rem);
    font-size: clamp(2rem, calc(7vw + 1rem), 5rem);
}

/* site specific image size */
img, picture, video, canvas, svg {
  aspect-ratio: 16 / 9;
  object-fit: contain;
  background-color: aliceblue;
}



