/* fonts and tipo */
@font-face {
  font-family: 'Arrival';
  src: url('./fonts/ArrivalApercuMonoPro-Regular.woff2') format('woff2');
}



/* site specific settings */
:root {
    --neutron: .3rem;
    --atom: 1rem;
    --molecule: 3rem;
    --color-light: #f9f9f9;
    --gap: 10rem;
    --padding: min(1rem, 3vw);
}



/* layout */
body {
    padding: var(--molecule);
    background-color: var(--color-light);
}

header, main, footer {
    margin: 3rem auto;
    padding: var(--molecule);
    background-color: white;
}

header {
    background-color: lightpink;
}

main {
    background-color: lightsteelblue
};

footer {
    background-color: lightgrey;
};











h1 {
    font-size: clamp(2rem, 10vw, 5rem);
    font-size: clamp(2rem, calc(7vw + 1rem), 5rem);
}

/* site specific image size */
img, picture, video, canvas, svg {
  aspect-ratio: 16 / 9;
  object-fit: contain;
  background-color: aliceblue;
}



