@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@312&display=swap);
:root {
    --fs: 3.3vw;
    --lh: 1.035;
    --baseMargin: 1.035rem;
    --padding-left: calc(20px - .08rem);
    --padding-top: calc(20px - .02rem);
    --padding-top-zh: calc(20px - .02rem - .09rem);
    --gutter:10px
}

@media (max-width: 720px) {
    :root {
        --fs: 5.5vw;
        --lh: 1.15;
        --gutter: 7px;
        --padding-left: calc(11px - .1em);
        --padding-top:calc(15px - .175em)
    }
}

*, :after, :before {
    box-sizing:border-box
}

blockquote, body, dd, dl, figcaption, figure, h1, h2, h3, h4, li, ol, p, ul {
    margin:0
}

body {
    min-height: 100vh;
    scroll-behavior:smooth
}

body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering:optimizeLegibility
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size:inherit
}

ol, ul {
    list-style: none;
    padding:0
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink:auto
}

a {
    color: inherit;
    text-decoration:none
}

img {
    width:100%
}

img, svg {
    display:block
}

article > * + * {
    margin-top:1em
}

blockquote, q {
    quotes:none
}

blockquote:after, blockquote:before, q:after, q:before {
    content:none
}

button, input, select, textarea {
    color: inherit;
    font: inherit;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background:0 0
}

button:focus, input:focus, select:focus, textarea:focus {
    outline:0
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance:none
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior:auto !important
    }
}

.hide, .menu .to-about .close, .menu .to-about[data-state=close] .title, .placeholder-header .about-title-placeholder .close {
    display:none
}

@font-face {
    font-family: 'SCTO';
    font-weight: 300;
    src: url(../fonts/scto-grotesk-a-light-2.woff2) format("woff2"), url(../fonts/scto-grotesk-a-light-2.woff) format("woff")
}

html {
    font-family: 'SCTO', 'Noto Sans SC', sans-serif;
    font-weight: 300;
    line-height: var(--lh);
    font-size: var(--fs);
    letter-spacing: -.05em;
    color:#080807
}

html[lang=zh] {
    font-weight:312
}

html[lang=zh] p {
    line-height:1.2
}

html ::selection {
    color:#a0a0a0
}

html ::-moz-selection {
    color:#a0a0a0
}

html img::selection {
    background:rgba(0, 0, 0, .2)
}

html img::-moz-selection {
    background:rgba(0, 0, 0, .2)
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:10
}

.menu-nav {
    position: relative;
    width: 100%;
    padding: 0 var(--padding-left);
    padding-right: calc(var(--padding-left) + .075rem);
    padding-top: round(up, var(--padding-top), 1px);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select:none
}

.menu .to-about[data-state=close] .close {
    display:block
}

.menu:not(.menu-shown) {
    pointer-events:none
}

.menu:not(.menu-shown) .menu-nav a:not(.persistent) {
    opacity:0
}

html[lang=zh] .menu-nav, html[lang=zh] .placeholder-header {
    padding-right:calc(var(--padding-left) + .045rem)
}

.overlay-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 10px;
    width: calc(100% - 20px);
    z-index: 8;
    background: rgba(249, 249, 249, .2);
    transition: all .2s cubic-bezier(.215, .61, .355, 1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter:blur(30px)
}

.overlay-background.hidden {
    opacity: 0;
    pointer-events:none
}

.placeholder-header {
    padding: 0 var(--padding-left);
    padding-right: calc(var(--padding-left) + .075rem);
    padding-top: round(up, var(--padding-top), 1px);
    display: flex;
    justify-content:space-between
}

.placeholder-header .about-title-placeholder[data-state=close] .title {
    display:none
}

.placeholder-header .about-title-placeholder[data-state=close] .close {
    display:block
}

.placeholder-header .hidden {
    opacity:0
}

@media (max-width: 720px) {
    .placeholder-header {
        display:none
    }

    .menu {
        color: #fff;
        mix-blend-mode:difference
    }

    .menu.mobile-hidden .menu-nav a {
        opacity:0
    }

    .menu.mobile-hidden:not(.menu-shown) .menu-nav a:not(.persistent) {
        opacity:0
    }

    .menu-nav {
        padding: var(--padding-top) var(--padding-left);
        padding-right:calc(var(--padding-left) + .075rem)
    }

    .menu:not(.menu-shown) .menu-nav a {
        pointer-events:auto
    }

    .menu:not(.menu-shown) .menu-nav a:not(.persistent) {
        opacity:1
    }
}

body, html {
    background: #f9f9f9;
    overscroll-behavior:none
}

body {
    overflow-x: hidden;
    overflow-y:scroll
}

body.no-scroll main {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow:hidden
}

.mobile-only {
    display:none
}

@media (max-width: 720px) {
    .mobile-only {
        display:block
    }

    .mobile-only.mobile-flex {
        display:flex
    }
}

.lazy {
    transition:opacity .2s cubic-bezier(.215, .61, .355, 1)
}

.home-logo .logo svg .unknown:not(.shown), .home-logo .logo svg .untitled:not(.shown), .home-splash .logo svg .unknown:not(.shown), .home-splash .logo svg .untitled:not(.shown), .lazy:not(.lazyloaded) {
    opacity:0
}

.padded {
    position:relative
}

.padded img, .padded video, .screensaver-layout .column .image.cover .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit:cover
}

html[lang=zh] .home-intro-inner {
    padding-top:round(up, var(--padding-top-zh), 1px)
}

main.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top:0
}

.screensaver, .screensaver-logo {
    top: 0;
    left: 0;
    width: 100%;
    padding:25px 20px 0
}

.screensaver {
    position: fixed;
    height: 100%;
    z-index: 999;
    height: 100vh;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition:opacity .4s cubic-bezier(.215, .61, .355, 1)
}

.screensaver.temp-shown {
    opacity:1
}

.screensaver-logo {
    position: absolute;
    z-index:3
}

.screensaver-text {
    position: relative;
    z-index: 1;
    font-size: calc((100vw - 20px * 2) * .1385);
    line-height: .95;
    letter-spacing:-.06em
}

.screensaver-text .logo {
    visibility:hidden
}

.screensaver-layouts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2
}

.screensaver-layout {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: var(--gutter);
    padding-bottom: 0;
    display: flex;
    gap:var(--gutter)
}

.screensaver-layout:not(.hide) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%
}

.screensaver-layout.hide {
    opacity:0
}

.screensaver-layout .column {
    width: calc(50% - var(--gutter) /2);
    height:100%
}

.screensaver-layout .column .image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow:hidden
}

.screensaver-layout .column .image.cover .image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%
}

.screensaver .logo {
    width:100%
}

.screensaver .logo svg {
    display: block;
    width:100%
}

@media screen and (min-aspect-ratio: 1440/750) {
    .screensaver .tall-only {
        display:none
    }
}

.common-footer {
    position: relative;
    z-index: 0;
    padding: 0 20px;
    padding-top: calc(var(--baseMargin) * 3);
    margin-top:auto
}

.common-footer .logo {
    width: 100%;
    padding-bottom: 20px;
    overflow:hidden
}

.common-footer .logo svg, .home-footer-bottom .logo svg, .index .project-footer .logo svg {
    display: block;
    width: 100%;
    transform:translateY(17%)
}

.home-splash {
    padding: 25px 20px 0;
    z-index:11
}

.home-logo {
    position: relative;
    width: 100%;
    padding:25px 20px 0
}

.home-logo .logo, .home-splash .logo {
    width:100%
}

.home-logo .logo svg .unknown, .home-logo .logo svg .untitled, .home-splash .logo svg .unknown, .home-splash .logo svg .untitled {
    transition:opacity .6s cubic-bezier(.215, .61, .355, 1)
}

.home-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height:100vh
}

.home-logo {
    z-index: 7;
    pointer-events:none
}

.home-inner, .home-intro-inner .home-intro-lines .home-intro-line {
    position:relative
}

.home-intro {
    position: sticky;
    top: 0;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate3d(0, 0, 0);
    height: calc(100vh - 200px);
    color:#fff
}

.home-footer-top a, .home-intro a {
    transition:color .2s cubic-bezier(.215, .61, .355, 1), opacity .2s cubic-bezier(.215, .61, .355, 1)
}

@media (hover: hover) and(pointer: fine) {
    .home-intro a:hover {
        color:#a0a0a0
    }
}

.home-intro.out {
    opacity:0
}

.home-intro-inner, .home-intro-inner .home-intro-lines {
    left: 0;
    width: 100%;
    padding:round(up, var(--padding-top), 1px) var(--padding-left)
}

.home-intro-inner {
    position: relative;
    color: rgba(255, 255, 255, var(--opacity, 1));
    overflow:hidden
}

.home-intro-inner .home-intro-lines {
    position: absolute;
    top: 0;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select:none
}

.home-intro-inner .home-intro-lines .home-intro-line-background {
    background:#000
}

.home-intro-inner .home-intro-lines .home-intro-line-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #000, rgba(0, 0, 0, .9), transparent);
    transform-origin:top right
}

.home-intro-inner .uu {
    color:#fff
}

.home-intro-inner .uu .page-title {
    display:none
}

.home-intro-inner .uu.title-shown:not(.no-title-change) .uu-title {
    display:none
}

.home-intro-inner .uu.title-shown:not(.no-title-change) .page-title {
    display:inline
}

.home-layout {
    z-index: 1;
    padding: 0 var(--gutter);
    padding-bottom: var(--gutter);
    background:#f9f9f9
}

.home-layout.out {
    transform:translateY(200px)
}

.home-layout.out .line {
    opacity:0
}

.home-layout, .home-layout-inner {
    position:relative
}

.home-layout .line {
    margin-top: var(--gutter);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:var(--gutter)
}

.home-layout .line .column {
    grid-column-start:span var(--span, 6)
}

.home-layout .line:first-child {
    margin-top:0
}

.home-footer {
    position: relative;
    z-index: 3;
    height: 100vh;
    overflow:hidden
}

.home-footer-inner {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:1.035em
}

.home-footer-top {
    padding: round(up, var(--padding-top), 1px) var(--padding-left);
    display: flex;
    flex-direction: column;
    align-items:flex-start
}

@media (hover: hover) and(pointer: fine) {
    .home-footer-top a:hover {
        color:#a0a0a0
    }
}

.home-footer-line, .home-footer-top {
    position:relative
}

.home-footer-line-gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 130%;
    background: linear-gradient(to left, #f9f9f9, rgba(249, 249, 249, .9), transparent);
    transform-origin: top right;
    pointer-events:none
}

.home-footer-bottom {
    padding:0 20px 20px
}

.home-footer-bottom .logo {
    display:block
}

@media (max-width: 720px) {
    .home-splash {
        padding:15px 11px 0
    }

    .home-intro, .home-layout .line .column.is-empty, .home-logo {
        display:none
    }

    .home-layout {
        padding-top: calc(100vh/3);
        padding-top: calc(var(--initial-vh, 1vh) * 100/3);
        padding-bottom:0
    }

    .home-layout.out {
        transform:translateY(100px)
    }

    .home-layout .line {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap:var(--gutter)
    }

    .home-layout .line .column {
        width:100%
    }

    .home-layout .line + .line {
        margin-top:var(--gutter)
    }

    .home-footer {
        height: auto;
        padding-top:calc(1em * var(--lh) + .25em)
    }

    .home-footer-inner {
        padding-top:0
    }

    .home-footer-top {
        padding: 0 var(--padding-left);
        padding-top:calc((1em * var(--lh) + .25em) * 2)
    }

    .home-footer-bottom {
        padding: 0 11px 5px;
        padding-top:calc((1em * var(--lh) + .25em) * 3)
    }

    .common-footer .logo svg, .home-footer-bottom .logo svg {
        transform:translateY(0)
    }

    .common-footer {
        padding: 0 11px;
        margin-top:calc((1em * var(--lh) + .25em) * 3)
    }

    .common-footer .logo {
        padding-bottom:5px
    }
}

.about, .about-inner, .about-overlay, .about-overlay-inner {
    position:relative
}

.about-header-sticky, .about-overlay-header-sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index:3
}

.about-header-sticky .about-header-sticky-inner, .about-overlay-header-sticky .about-header-sticky-inner {
    position: relative;
    top: auto;
    padding: 0 var(--padding-left);
    padding-top:round(up, var(--padding-top), 1px)
}

.about-layout, .about-overlay-layout {
    padding: 0 var(--padding-left);
    padding-top:var(--baseMargin)
}

.about-layout .line, .about-overlay-layout .line {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:30px
}

.about-layout .line a, .about-overlay-layout .line a, .project-layout .block-text a {
    transition:color .2s cubic-bezier(.215, .61, .355, 1), opacity .2s cubic-bezier(.215, .61, .355, 1)
}

@media (hover: hover) and(pointer: fine) {
    .about-layout .line a:hover, .about-overlay-layout .line a:hover {
        color:#a0a0a0
    }
}

.about-layout .line:not(:first-child), .about-overlay-layout .line:not(:first-child) {
    margin-top:calc(var(--baseMargin) * 2)
}

.about-layout .line .column, .about-overlay-layout .line .column {
    grid-column-start:span var(--span, 6)
}

.about-layout .line p + p, .about-overlay-layout .line p + p {
    margin-top:calc(1em * var(--lh))
}

.about-bottom, .about-overlay-bottom {
    position: relative;
    min-height: 100vh;
    padding-top: round(up, var(--padding-top), 1px);
    margin-top:calc(1em * var(--lh) - var(--padding-top))
}

.about-last-text, .about-overlay-last-text {
    padding:0 var(--padding-left)
}

.about .about-footer, .about-overlay .about-footer {
    position:sticky
}

@media (max-width: 720px) {
    .about-header-sticky, .about-overlay-header-sticky {
        display:none
    }

    .about-layout, .about-overlay-layout {
        padding-top:calc(var(--padding-top) + var(--lh) * 1em * 2)
    }

    .about-layout .line, .about-overlay-layout .line {
        display:block
    }

    .about-layout .line:not(:first-child), .about-overlay-layout .line:not(:first-child) {
        margin-top:calc(1em * var(--lh) * 2)
    }

    .about-layout .line .column, .about-overlay-layout .line .column {
        width:100%
    }

    .about-layout .line .column + .column, .about-overlay-layout .line .column + .column {
        margin-top:calc(1em * var(--lh) * 2)
    }

    .about-bottom, .about-overlay-bottom {
        min-height:0
    }

    .about .about-footer, .about-overlay .about-footer {
        position:relative
    }

    .about .about-footer .common-footer, .about-overlay .about-footer .common-footer {
        position: relative;
        bottom: auto;
        top:auto
    }
}

.about-overlay {
    z-index: 9;
    transition: opacity .2s cubic-bezier(.215, .61, .355, 1);
    color: #fff;
    mix-blend-mode: difference;
    transform:translateZ(0)
}

.about-overlay.hide {
    display:none
}

.about-overlay.temp-hidden {
    opacity: 0;
    pointer-events:none
}

.about-overlay .about-bottom, .about-overlay .about-inner {
    z-index:1
}

.about-overlay svg {
    fill:#fff
}

.about-overlay .about-background {
    background: rgba(249, 249, 249, .2);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    z-index:0
}

.lab, .lab-inner {
    position:relative
}

.about-overlay .about-background, .lab-header-sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%
}

.lab-header-sticky {
    pointer-events: none;
    z-index: 3;
    mix-blend-mode:difference
}

.lab-header-sticky .lab-header-sticky-inner {
    position: sticky;
    top: 0;
    padding: 0 var(--padding-left);
    padding-top: round(up, var(--padding-top), 1px);
    color:#fff
}

.lab-header-sticky .page-title, .lab-header-sticky.title-shown .uu-title {
    display:none
}

.lab-header-sticky.title-shown .page-title {
    display:block
}

.lab-intro {
    padding: 0 var(--padding-left);
    margin:var(--baseMargin) 0
}

.lab-grid {
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-top: calc(var(--baseMargin) * 2);
    display: flex;
    flex-wrap:wrap
}

.lab-item {
    width: calc((100% - 10px * 3) /4);
    margin-bottom:10px
}

.lab-item[data-col=two] {
    width:calc((100% - 10px * 3)/4 * 2 + 10px)
}

@media (max-width: 720px) {
    .lab-header-sticky .lab-header-sticky-inner {
        padding-top: 0;
        top:calc(var(--padding-top) + var(--lh) * 1em * 2)
    }

    .lab-header-sticky .lab-header-sticky-inner .uu-title {
        display:none !important
    }

    .lab-header-sticky.mobile-hidden {
        opacity:0
    }

    .lab-intro {
        margin-top: calc(var(--padding-top) + var(--lh) * 1em * 2);
        margin-bottom:calc(var(--lh) * 1em)
    }

    .lab-grid {
        width: calc(100% - 14px);
        margin-top:calc(var(--lh) * 1em)
    }

    .lab-item {
        width:calc((100% - 7px * 2)/3)
    }

    .lab-item[data-col=two] {
        width:calc((100% - 7px * 2)/3 * 7px)
    }
}

.project, .project-inner {
    position:relative
}

.project-header-sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
    color: #fff;
    mix-blend-mode:difference
}

.project-header-sticky-inner {
    position: sticky;
    width: calc(75% - var(--padding-left));
    top: 0;
    padding: 0 var(--padding-left);
    padding-top: round(up, var(--padding-top), 1px);
    padding-bottom:calc(var(--fs) * .1)
}

.project-header-sticky[data-show=index] .title, .project-header-sticky[data-show=title] .index-title-placeholder {
    display:none
}

.project-header {
    padding:round(up, var(--padding-top), 1px) var(--padding-left)
}

.project-header-top {
    display: flex;
    justify-content:flex-end
}

.project-header-ref {
    width: 25%;
    text-align:right
}

.project-layout {
    position: relative;
    padding:0 10px
}

.project-layout .last-line-placeholder {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: round(up, var(--padding-top), 1px);
    pointer-events: none;
    width:100%
}

.project-layout .line {
    margin-top: 1.035rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:10px
}

.project-layout .line .column {
    grid-column-start:span var(--span, 6)
}

.project-layout .line.media-line + .media-line {
    margin-top:var(--gutter)
}

.project-layout .block-text {
    padding:0 calc(var(--padding-left) - 10px)
}

@media (hover: hover) and(pointer: fine) {
    .project-layout .block-text a:hover {
        color:#a0a0a0
    }
}

.project-index {
    margin-top: calc(var(--baseMargin) * 3 - var(--padding-top));
    padding-top:round(up, var(--padding-top), 1px)
}

.index {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    padding: 0 var(--padding-left);
    display: flex;
    flex-direction: column;
    background:#f9f9f9
}

.index.mobile-only {
    display:none
}

.index-item.no-events, .index-title.no-events {
    pointer-events:none
}

.index-title {
    position: sticky;
    top: round(up, var(--padding-top), 1px);
    z-index: 1;
    color: #fff;
    mix-blend-mode: difference;
    visibility:hidden
}

.index-list {
    margin-top: calc(1em * var(--lh));
    display: flex;
    flex-direction: column;
    align-items:flex-start
}

.index-line {
    position: relative;
    transition:color .2s cubic-bezier(.215, .61, .355, 1)
}

.index-line.faded, .index-line.visited {
    color:#a0a0a0
}

.index-covers, .index-line-gradient {
    position: absolute;
    top: 0;
    height: 100%;
    pointer-events:none
}

.index-line-gradient {
    left: 0;
    width: 130%;
    background: linear-gradient(to left, #f9f9f9, rgba(249, 249, 249, .9), transparent);
    transform-origin:top right
}

.index-covers {
    z-index: 1;
    right: 0;
    width: 100%;
    padding:10px
}

.index-covers-inner {
    position: sticky;
    top: 10px;
    margin-left: auto;
    height: calc(100vh - 20px);
    height: calc(var(--vh, 1vh) * 100 - 20px);
    width:calc((100% - 10px * 11)/12 * 5 + 10px * 4)
}

.index-covers .index-cover {
    transition:opacity .2s cubic-bezier(.215, .61, .355, 1)
}

.index-covers .index-cover.hidden {
    opacity:0
}

.index-covers .index-cover, .index-covers .index-cover .image-wrapper, .index-covers .index-cover .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%
}

.index-covers .index-cover .image-wrapper img, .index-covers .index-cover .image-wrapper video, .index-covers .index-cover .video-wrapper img, .index-covers .index-cover .video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: top right;
    object-position:top right
}

.index .project-footer {
    position: relative;
    z-index: 0;
    padding-top: calc(var(--baseMargin) * 3);
    margin-top:auto
}

.index .project-footer .logo {
    width: 100%;
    padding-bottom: 20px;
    overflow:hidden
}

@media (max-width: 720px) {
    .index {
        min-height:0
    }

    .index.mobile-only {
        display:flex
    }

    .index-title {
        position: relative;
        top: auto;
        visibility:visible
    }

    .project {
        overflow:hidden
    }

    .project-header-sticky {
        position: relative;
        top: auto;
        height: auto;
        margin-top:calc(var(--padding-top) + var(--lh) * 1em * 2)
    }

    .project-header-sticky-inner {
        position: relative;
        width: 100%;
        top:auto
    }

    .project-header, .project-header-sticky-inner, .project-layout .line {
        padding:0 var(--padding-left)
    }

    .project-header-top {
        display:block
    }

    .project-header-ref {
        display:none
    }

    .project-layout {
        padding:0
    }

    .project-layout .line {
        margin-top: calc(var(--lh) * 1em);
        display:block
    }

    .project-layout .line .column {
        width:100%
    }

    .project-layout .line .column + .column {
        margin-top:var(--gutter)
    }

    .project-layout .line.media-line {
        padding:0 var(--gutter)
    }

    .project-layout .line.text-line + .media-line {
        margin-top:calc(var(--lh) * 1em + .25em)
    }

    .project-layout .block-text {
        padding:0 calc(var(--padding-left) - 10px)
    }

    .project .project-index {
        margin-top: calc(var(--lh) * 1em * 5);
        padding-top: 0;
        min-height:0
    }

    .project .project-index .index-covers {
        display:none
    }

    .project .project-index .project-footer {
        padding-top:calc(var(--lh) * 1em * 3)
    }

    .project .project-index .project-footer .logo {
        padding-bottom:5px
    }

    .project .project-index .project-footer .logo svg {
        transform: translateY(0)
    }
}

