/* defaults */



*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





/* Set core body defaults */
body {
  line-height: 1.5;
  min-height: 100vh;
  min-height: 100dvh;
}

/* responsive images */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}
