/**
 * tipography
 */
@font-face {
    font-family: spaceface;
    src: url(./fonts/PPFraktionMono-Regular.woff2) format("woff2");
    font-display: swap;
}

:root {
  --fs-body: clamp(.75rem, 0.4rem + 0.5vw, 1rem);
  --fs-h3: clamp(1.25rem, 1.1rem + 0.7vw, 1.75rem);
  --fs-h2: clamp(1.5rem, 1.3rem + 1vw, 2.25rem);
  --fs-h1: clamp(2rem, 1.5rem + 2vw, 3rem);
}

body {
  font-size: var(--fs-body);
  line-height: 1.6;
  font-family: spaceface, system-ui, sans-serif;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}
